* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.row {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart {
    margin-top: 10px;
    padding: .8rem;
    font-size: 1rem;
}